.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 225px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  font-style: italic;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

<<<<<<< HEAD
.panel-heading {
  font-style: bold;
}

=======
.artCard {
  flex: wrap;
  align-content: center;
  padding: 10px;
  display: block;
}



>>>>>>> 78475cf5fd15b1f193aa35ffd14cf9a2e381a05a
